<div class="container">
  <a href="/node/add/invoice" class="btn btn-primary btn-lg btn-block" type="button">Create New Invoice</a>
  <a href="/old-invoices" class="btn btn-secondary btn-lg btn-block" type="button">View Old Invoices</a>
</div>
