<div class="pdf-wrapper">
  <div class="header-section">
    <h1>GRACE NANNY EMPLOYMENT</h1>

    <p>ADDRESS: 45 LANCASTER ROAD, EDMONTON, LONDON N18 1HP</p>

    <p>OFSTED NUMBER: 2569060</p>
    <p>TEL: 07503526357</p>
    <br>
    <br>
    <br>
    <strong>INVOICE</strong>
  </div>
  <p>Invoice Date: {{ content.invoice_start_date }}</p>

  <p> Invoice number: {{ content.invoice_number }}</p>
<br>
<br>
  <em>Invoice To:</em><br>
  SAMUEL OSEI AGYEMANG<br>
  27 LANCASTER ROAD<br>
  EDMONTON LONDON<br>
  N18 1HP<br>
  <br><br>
  <table border="1">
    <tbody>
    <tr>
      <td><strong><u>DESCRIPTION</u></strong></td>
      <td><strong><u>AMOUNT</u></strong></td>
    </tr>
    <tr>
      <td>
        CHILD MINDER FOR SAMUEL OSEI YUSUFF & AARON OSEI AGYEMANG FOR THE PERIOD OF {{ content.invoice_start_date }} - {{ content.invoice_end_date }}
      </td>
      <td></td>
    </tr>
    <tr>
      <td class="names">   <ul class="names"><li>SAMUEL OSEI YUSUFF</li></ul></td>
      <td>£300</td>
    </tr>
    <tr>
      <td class="names">   <ul class="names"><li>AARON HAMILTON OSEI AGYEMANG</li></ul></td>
      <td>£300</td>
    </tr>
    <tr>
      <td><br></td>
      <td><br></td>
    </tr>
    <tr>
      <td class="vat">VAT</td>
      <td>£0.00</td>
    </tr>
    <tr>
      <td class="total">Total</td>
      <td>£600</td>
    </tr>
    </tbody>
  </table>
  <br>
  <span>Bank details:</span><br>
  BARCLAYS (A/C: 13754367 S/C: 20-76-90)
</div>
